{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": [2, "never"],
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": {"var": 2, "let": 2, "const": 3} }],
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0,
    "max-len": ["error", 180]
  },
  "ignore": [
    ".idea",
    "app",
    "**/bower_components/**/*",
    "build",
    "certs",
    "dist",
    "docs",
    "logs",
    "**/node_modules/**/*",
    "scripts",
    "typings",
    "uploads"
  ]
}
